<template>
  <div class="footer">
    <div class="cropper-box textbox">
      <div class="cropper-box__text js-cropped-box">
        <h2>myToys – Kinderwünsche sind unser Spezialgebiet!</h2>
        <p>
          Wir bringen Kinderaugen zum Strahlen, denn wir sind Deutschlands
          führender Onlineshop für Spielzeug und Produkte rund ums Kind. Und das
          nicht erst seit gestern: Die Idee für einen Online-Shop, der Eltern
          ein angenehmes Einkaufserlebnis für alle Produkte rund ums Kind
          bietet, wurde 1999 vom Vater und Unternehmensberater Oliver Lederle
          entwickelt. Das heute von den beiden Geschäftsführern Martin Schierer
          und Tobias Nieber geleitete Unternehmen, das seit dem Jahr 2000
          Mitglied der Otto Group ist, verfügt verfügt auch über gleichnamige
          Filialen in ganz Deutschland. Über 800 Mitarbeiterinnen und
          Mitarbeiter arbeiten für myToys in Berlin gemeinschaftlich an der
          Erfüllung von Kinderträumen und der Zufriedenheit einkaufender Eltern.
          Aufgrund unseres besonderen Bezugs zu Familien und unserer
          Überzeugung, dass die Übernahme von sozialer Verantwortung für
          Unternehmen heute selbstverständlich sein muss, unterstützt myToys
          viele gemeinnützige Organisationen und Projekte, die sich für das Wohl
          von Kindern einsetzen.
        </p>
        <h3>Wir begleiten Ihr Kind von Beginn an</h3>
        <p>
          In unserem umfangreichen Sortiment führen wir von praktischer und
          modischer Schwangerschaftsmode bis zu hilfreichen
          Klausurvorbereitungsbüchern für Abiturienten alle wichtigen Produkte
          rund ums Familienleben. Ob Kinder-Autositz, Kinderwagen oder
          ausgewählte Pflegeartikel: Auch alles für ihr Baby können Sie
          unkompliziert im Online-Shop von myToys bestellen.
        </p>
        <h3>Verschenken Sie Freude</h3>
        <p>
          "Spielende Kinder sind lebendig gewordene Freuden", wusste schon der
          Dichter Christian Friedrich Hebbel. Spielen ist Lernen, Spielen ist
          Entwicklung, Spielen ist Leben. Ob für Ihr eigenes Kind zu Ostern oder
          Weihnachten, zum Geburtstag oder einfach mal als Überraschung
          zwischendurch, als Mitbringsel zur Taufe oder zum Sommerfest von
          Freunden: Ein Spielzeug aus der lebendigen Vielfalt im Online-Shop von
          myToys bringt als das perfekte Geschenk Kinderherzen bei allen
          Anlässen zum Hüpfen. Unser umfangreiches Sortiment an Spielwaren
          umfasst Kinderklassiker traditioneller Hersteller ebenso wie aktuelle
          Trends und saisonale Besonderheiten. Vom Babyspielzeug wie dem
          kuscheligen Teddy als Einschlafhilfe über das ferngesteuerte Auto bis
          hin zu Sammelfiguren der Lieblingsstars können Sie in der riesigen
          Auswahl an Spielsachen bei myToys die Ausrüstung für spannende Reisen
          ins Reich der Phantasie und unvergessliche Spielerlebnisse günstig
          online kaufen. Die Welt entdecken und Lebensfreude fühlen mit
          Spielzeug von myToys!
        </p>
        <h3>Gute Laune zum Anziehen - Kindermode auf myToys.de</h3>
        <p>
          Kinderkleidung muss besonders vielfältigen Ansprüchen gerecht werden:
          Sie soll schützen und dabei funktional, strapazierbar und langlebig
          sein. Gleichzeitig ist Mode auch bei Kindern Mittel zur Kommunikation
          und Möglichkeit, sich selbst auszudrücken und einen eigenen Stil zu
          entwickeln. Bei unserer großen Auswahl an Kindermode hochwertiger
          Marken in vielfältigen Materialen, Formen und Farben fällt es uns
          leicht, Zweckmäßigkeit und modische Bedürfnisse in unserem Angebot bei
          myToys zu vereinen. Und weil wir es leicht haben, soll es für Sie erst
          recht so sein: Die Auswahl der Babysachen und Kindermode für Jungen
          und Mädchen können Sie bequem von zu Hause aus treffen und dann ganz
          unkompliziert im Online-Shop von myToys bestellen – natürlich zu
          fairen Preisen. Ihr Kind schaut zum Träumen gerne mal in die Wolken?
          Gut, wenn es dabei in den bequemen und hübsch gearbeiteten Schuhen von
          myToys mit beiden Beinen fest auf dem Boden steht. Ob spezielle Schuhe
          für Ihr Baby, liebevoll gestaltete und hochwertig verarbeitete
          Kinderschuhe aus Leder, Sandalen, Stiefel, Turnschuhe oder Hausschuhe
          für Jungen und Mädchen: In den Kinderschuhen von myToys lässt sich die
          Welt hervorragend entdecken und erobern.
        </p>
        <h3>Gönnen Sie sich was Schönes von myToys</h3>
        <p>
          Mit einem Einkauf auf myToys können Sie nicht nur anderen eine Freude
          machen: Als werdende Mutter finden Sie bei uns für alle Anlässe die
          passende Schwangerschaftskleidung. Kaufen Sie bei myToys schicke
          Umstandsmode fürs Büro, für festliche Anlässe, den Sport oder
          kuschelige Entspannungsstunden auf der Couch – ohne Stress und Hektik.
          So können Sie die Zeit des Wartens auf Ihr Kind nach Ihren Wünschen
          und Bedürfnissen gestalten. Die Mode für Schwangere aus unserem
          Online-Shop ist bequem und trendgerecht – Sie genießen vollen Komfort
          und müssen Ihre modischen Ansprüche dabei nicht aufgeben. Leben Sie
          Ihren Stil mit unserer "Mode für zwei". Schließlich ist geteilte
          Freude doppelte Freude...
        </p>
        <h3>Gemeinsam mit Ihnen setzen wir auf Qualität</h3>
        <p>
          Wir wissen genau, wie wichtig unbedenkliches Material, Stabilität und
          Langlebigkeit bei Produkten rund ums Kind sind – schließlich kommen
          das Lieblingsspielzeug und seine Kleidung ganz nah an Ihr Kind ran.
          Deshalb legen wir viel Wert auf Qualität und führen vor allem
          hochwertige Produkte namhafter Hersteller. Um Ihnen bei der
          Kaufentscheidung zu helfen, finden Sie in den Produktbeschreibungen
          auf myToys wichtige Informationen rund um die Beschaffenheit unserer
          Artikel an.
        </p>
        <h3>Ihr Geschmack ist einzigartig</h3>
        <p>
          Kombinieren Sie Ihre Lieblingsartikel aus unserer Modevielfalt mit den
          Angeboten aus unserem riesigen Schuhsortiment nach Lust und Laune und
          leben Sie Ihren eigenen Stil! Sie haben bereits genaue Vorstellungen
          von Ihrem neuen Lieblingsteil oder dem Ihres Kindes, suchen
          beispielsweise einen Artikel von einem ganz bestimmten Modelabel? Über
          unsere Suchfunktion kommen Sie mit Ihrem Stichwort schnell ans Ziel.
          Bei myToys müssen Sie nicht orientierungslos umherirren, denn wir
          sortieren für Sie unser Angebot blitzschnell nach Ihren Suchwünschen,
          sei es die Art eines Spielzeuges, der Hersteller, die Preisklasse oder
          die jeweilige Alterseignung. So wird Ihr Kind genau altersgerecht
          gefördert und sein Spielspaß ist immer garantiert. Ihre Ansprüche sind
          unsere Herausforderung. Sie haben Ihren ganz individuellen
          Geschmack...
        </p>
        <h3>Wir beraten Sie gerne</h3>
        <p>
          Bei einem großen Sortiment fällt die Entscheidung für das richtige
          Produkt manchmal nicht leicht. Damit Sie sich leichter orientieren
          können, ergänzen wir regelmäßig unser Ratgeber-Angebot. Informieren
          Sie sich gerne auf unseren Ratgeber-Seiten und lassen Sie sich von
          unseren Tipps und Hinweisen inspirieren. Wir unterstützen Sie, die
          richtige Kaufentscheidung zu treffen und freuen uns, wenn Sie lange
          Freude an Ihrem Produkt von myToys haben.
        </p>
        <h3>Und wir haben immer wieder neue Ideen</h3>
        <p>
          Sie brauchen Inspiration? Die sollen Sie haben! Nutzen Sie doch
          einfach mal unseren myToys-Geschenkefinder, der liefert Ihnen gleich
          mehrere originelle Ideen für tolle Kindergeschenke zu fairen Preisen.
          Sie wollen lieber absolute Freiheit verschenken? Die
          myToys-Geschenkgutscheine lassen sich mit verschiedenen Wertguthaben
          bestellen. Immer auf dem Laufenden und ständig mit tollen
          Geschenkideen versorgt sind Sie mit dem myToys- Newsletter, den Sie
          nach Ihren Interessen einrichten können. Profitieren Sie von
          Gratis-Aktionen und freuen Sie sich regelmäßig über attraktive
          Gutscheine und Rabatte!
        </p>
        <p></p>
        <h3>Kinder und Familie sind unser Spezialthema</h3>
        <p>
          Seit Mitte 2013 gibt es den
          <a href="https://blog.mytoys.de/" target="_blank">myToys-Blog</a>, auf
          dem Sie nützliche Tipps für den Familienalltag und Erfahrungsberichte
          finden. Kinder und Familien stehen dabei im Mittelpunkt. Neben
          aktuellen Themen rund um das Leben mit Kindern stellen unsere
          Mitarbeiterinnen und Mitarbeiter Produkttrends und Neuigkeiten aus dem
          Unternehmen vor und zeigen Ihnen, wer die Menschen hinter myToys sind.
        </p>
        <h3>Ihre Zeit ist wertvoll</h3>
        <p>
          Verabschieden Sie sich vom Shoppingstress und begrüßen Sie den
          entspannten Shoppingspaß im Onlineshop von myToys. Ob aus dem Büro
          oder vom gemütlichen heimischen Sofa: Bei uns können Sie von jedem Ort
          aus rund um die Uhr bestellen – einfach, schnell und günstig. So
          bleibt Ihnen mehr Zeit für Freunde, Familie und natürlich auch für
          sich selbst. Sie haben das Produkt vor Ihrer Kaufentscheidung gerne
          mal in der Hand und legen viel Wert auf persönliche Beratung? Besuchen
          Sie uns doch in einer unserer myToys-Filialen in Ihrer Nähe, nehmen
          Sie die kompetente Beratung unserer Mitarbeiter vor Ort in Anspruch
          und freuen Sie sich über günstige Preise bei hoher Qualität.
        </p>
        <h3>Modernes Shoppen bedeutet Komfort</h3>
        <p>
          Wir bieten nicht nur tolle Artikel und Geschenkideen, sondern eine
          ganzheitliche und gut durchdachte Betreuung bei Ihrem Einkauf.
          Nutzerfreundlichkeit hat bei der Gestaltung unserer Seite oberste
          Priorität, unsere unkomplizierte Navigation erleichtert Ihnen ein
          zielgerichtetes Shoppen. Bei myToys sind Sie aber nicht nur schnell,
          sondern in Ihrem Bezahlvorgang auch sicher.
        </p>
        <h3>Guter Service? Bei myToys selbstverständlich!</h3>
        <p>
          Denn wir kommunizieren mit Ihnen. Nach erfolgreichem Einkauf werden
          unsere Kunden detailliert über den aktuellen Status ihrer Bestellung
          informiert. Um alle Fragen rund um den Einkauf kümmert sich der
          geschulte und freundliche myToys-Kundenservice gerne. Ihre Anregungen
          und Kritik nehmen wir ernst, denn wir wollen Ihnen das optimale
          Einkaufserlebnis bieten. Und das Lob vieler zufriedener Kunden
          bestätigt unseren Erfolg in diesem Anliegen.
        </p>
        <p>
          Beim Stöbern und Einkaufen wünscht Ihnen das Team von myToys viel
          Spaß!
        </p>
      </div>
      <div
        class="cropper-box__nav js-cropped-box-nav less"
        data-more="mehr"
        data-less="weniger"
      >
        <span class="cropper-box__nav-button is-active">weniger</span>
      </div>
    </div>

    <div class="newsletterwidget js-newsletter">
      <h4 class="newsletterwidget__headline">Jetzt zum Newsletter anmelden</h4>

      <a href="/newsletter" class="newsletterwidget__image-link">
        <img
          data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/1020_footer.nl-mob_crm_nl-anmel_0_0?$rtf_mt_footer-nwl$"
          class="newsletterwidget__image js-lazyload"
          alt="Jetzt anmelden!"
        />
      </a>

      <form
        action="/newsletter/send"
        method="post"
        class="form newsletterwidget__form newsletterwidget__form--yellow-lighter"
      >
        <div class="form__row">
          <div class="form__item">
            <a href="/newsletter">
              <img
                data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/1020_footer.nl-desk_crm_nl-anmel_0_0?$rtf_mt_footer-nwl_xl$"
                class="newsletterwidget__placeholder ls-is-cached is-lazyloaded"
                alt="Jetzt anmelden!"
                src="https://mytoysgroup.scene7.com/is/image/myToysGroup/1020_footer.nl-desk_crm_nl-anmel_0_0?$rtf_mt_footer-nwl_xl$"
              />
            </a>
          </div>

          <div class="form__item">
            <div class="newsletter-subscribe__errors">
              <p class="validation-error js-email-exists is-hidden">
                Die E-Mail-Adresse $email$ ist bereits für den Newsletter
                registriert.<br />
                Sie erhalten unseren Newsletter trotz Anmeldung nicht?<br />
                Bitte prüfen Sie Ihren Spam-Ordner oder wenden Sie sich an
                unseren Kundenservice.
              </p>

              <p class="validation-error js-email-wrong-format is-hidden">
                Die eingegebene E-Mail-Adresse hat ein ungültiges Format. Bitte
                korrigieren Sie Ihre Eingabe.
              </p>
              <p class="validation-error js-forbidden is-hidden">
                Anfrage nicht erlaubt.
              </p>
              <p class="validation-error js-mail-format is-hidden">
                Die angegeben E-Mail-Adresse hat ein ungültiges Format.
              </p>
            </div>

            <div class="form__row js-honeypot dn">
              <div class="newsletter-subscribe__input">
                <label for="mail" class="is-visually-hidden">mail:</label>
                <input
                  type="email"
                  id="mail"
                  name="mail"
                  placeholder="mail"
                  maxlength="80"
                  class="input-text"
                />
              </div>
            </div>

            <div class="form__row">
              <div class="newsletter-subscribe__input">
                <label for="botprotectedemailaddress" class="is-visually-hidden"
                  >Email-Adresse:</label
                >
                <input
                  type="text"
                  id="botprotectedemailaddress"
                  name="botprotectedEmailAddress"
                  placeholder="Ihre E-Mail-Adresse"
                  required=""
                  maxlength="80"
                  class="input-text"
                />
              </div>
              <div class="newsletter-subscribe__button">
                <button class="btn-1 newsletter-submit-btn" type="submit">
                  <span>anmelden</span>
                </button>
              </div>
            </div>

            <p class="newsletterwidget__note">
              Ja, ich möchte über Trends, Aktionen und meine Lieblingsthemen von
              myToys (myToys.de GmbH) per E-Mail informiert werden. Die
              Einwilligung kann jederzeit im Kundenkonto oder per Abmeldelink im
              Newsletter widerrufen werden.
            </p>

            <p class="newsletterwidget__note"></p>
          </div>
        </div>
      </form>
    </div>
    <div class="footer-teaser">
      <ul class="footer-teaser__row">
        <li class="footer-teaser__item">
          <h4 class="welcome__headline"></h4>
          <a
            href="https://blog.mytoys.de"
            target="_blank"
            class="footer-teaser__item__link"
            onclick="(typeof wt !== 'undefined') &amp;&amp; wt.sendinfo({linkId:'footer:mytoys blog'})"
          >
            <img
              data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/welcome_footer_double_blog_3718?$rtf_mt_teaser-footer_xl$"
              class="footerteaser__placeholder is-lazyloaded"
              alt="myToys Blog"
              src="https://mytoysgroup.scene7.com/is/image/myToysGroup/welcome_footer_double_blog_3718?$rtf_mt_teaser-footer_xl$"
            />
          </a>
        </li>
        <li class="footer-teaser__item">
          <h4 class="welcome__headline"></h4>
          <a
            href="http://www.facebook.com/myToys"
            target="_blank"
            class="footer-teaser__item__link"
            onclick="(typeof wt !== 'undefined') &amp;&amp; wt.sendinfo({linkId:'footer:mytoys auf facebook'})"
          >
            <img
              data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/footer_facebook_2318?$rtf_mt_teaser-footer-small_xl$"
              class="footerteaser__placeholder is-lazyloaded"
              alt="myToys auf Facebook"
              src="https://mytoysgroup.scene7.com/is/image/myToysGroup/footer_facebook_2318?$rtf_mt_teaser-footer-small_xl$"
            />
          </a>
          <a
            href="https://www.mytoys.de/c/mytoys-app.html"
            class="footer-teaser__item__link"
            onclick="(typeof wt !== 'undefined') &amp;&amp; wt.sendinfo({linkId:'footer:mytoys app'})"
          >
            <img
              data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/4419_footer-small_crm.welcome.app_0_0?$rtf_mt_teaser-footer-small_xl$"
              class="footerteaser__placeholder is-lazyloaded"
              alt="myToys in der App"
              src="https://mytoysgroup.scene7.com/is/image/myToysGroup/4419_footer-small_crm.welcome.app_0_0?$rtf_mt_teaser-footer-small_xl$"
            />
          </a>
        </li>
        <li class="footer-teaser__item">
          <h4 class="welcome__headline"></h4>
          <a
            href="https://www.instagram.com/mytoys_official"
            target="_blank"
            class="footer-teaser__item__link"
            onclick="(typeof wt !== 'undefined') &amp;&amp; wt.sendinfo({linkId:'footer:mytoys auf instagram'})"
          >
            <img
              data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/footer_instagram_2318?$rtf_mt_teaser-footer-small_xl$"
              class="footerteaser__placeholder is-lazyloaded"
              alt="myToys auf Instagram"
              src="https://mytoysgroup.scene7.com/is/image/myToysGroup/footer_instagram_2318?$rtf_mt_teaser-footer-small_xl$"
            />
          </a>
          <a
            href="https://www.pinterest.de/mytoys/"
            target="_blank"
            class="footer-teaser__item__link"
            onclick="(typeof wt !== 'undefined') &amp;&amp; wt.sendinfo({linkId:'footer:mytoys bei pinterest'})"
          >
            <img
              data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/welcome_footer_pinterest_3718?$rtf_mt_teaser-footer-small_xl$"
              class="footerteaser__placeholder is-lazyloaded"
              alt="myToys bei Pinterest"
              src="https://mytoysgroup.scene7.com/is/image/myToysGroup/welcome_footer_pinterest_3718?$rtf_mt_teaser-footer-small_xl$"
            />
          </a>
        </li>
        <li class="footer-teaser__item">
          <h4 class="welcome__headline"></h4>
          <a
            href="http://www.efs-survey.com/uc/mytoys/952b/"
            target="_blank"
            class="footer-teaser__item__link"
            onclick="(typeof wt !== 'undefined') &amp;&amp; wt.sendinfo({linkId:'footer:lob &amp; kritik zu mytoys'})"
          >
            <img
              data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/footer_feedback_2318?$rtf_mt_teaser-footer-small_xl$"
              class="footerteaser__placeholder is-lazyloaded"
              alt="Lob &amp; Kritik zu myToys"
              src="https://mytoysgroup.scene7.com/is/image/myToysGroup/footer_feedback_2318?$rtf_mt_teaser-footer-small_xl$"
            />
          </a>
          <a
            href="http://www.bit.ly/jetzt-kanal-abonnieren"
            target="_blank"
            class="footer-teaser__item__link"
            onclick="(typeof wt !== 'undefined') &amp;&amp; wt.sendinfo({linkId:'footer:mytoys bei youtube'})"
          >
            <img
              data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/welcome_footer_youtube_3718?$rtf_mt_teaser-footer-small_xl$"
              class="footerteaser__placeholder is-lazyloaded"
              alt="myToys bei YouTube"
              src="https://mytoysgroup.scene7.com/is/image/myToysGroup/welcome_footer_youtube_3718?$rtf_mt_teaser-footer-small_xl$"
            />
          </a>
        </li>
      </ul>
    </div>

    <ul class="footer-teaser-sm">
      <li class="nav-main__list-item js-hover footer-teaser-sm__item">
        <a
          class="nav-main__button nav-main__button--direct-link direct-link"
          target="_blank"
          href="https://blog.mytoys.de"
          data-wt-name="top.nav:mytoys blog"
        >
          <span class="nav-main-flyout__accordion-button-label"
            >myToys Blog</span
          >
        </a>
      </li>

      <li class="nav-main__list-item js-hover footer-teaser-sm__item">
        <a
          class="nav-main__button nav-main__button--direct-link direct-link"
          target="_blank"
          href="http://www.facebook.com/myToys"
          data-wt-name="top.nav:mytoys auf facebook"
        >
          <span class="nav-main-flyout__accordion-button-label"
            >myToys auf Facebook</span
          >
        </a>
      </li>

      <li class="nav-main__list-item js-hover footer-teaser-sm__item">
        <a
          class="nav-main__button nav-main__button--direct-link direct-link"
          href="https://www.mytoys.de/c/mytoys-app.html"
          data-wt-name="top.nav:mytoys app"
        >
          <span class="nav-main-flyout__accordion-button-label"
            >myToys App</span
          >
        </a>
      </li>

      <li class="nav-main__list-item js-hover footer-teaser-sm__item">
        <a
          class="nav-main__button nav-main__button--direct-link direct-link"
          target="_blank"
          href="https://www.instagram.com/mytoys_official"
          data-wt-name="top.nav:mytoys auf instagram"
        >
          <span class="nav-main-flyout__accordion-button-label"
            >myToys auf Instagram</span
          >
        </a>
      </li>

      <li class="nav-main__list-item js-hover footer-teaser-sm__item">
        <a
          class="nav-main__button nav-main__button--direct-link direct-link"
          target="_blank"
          href="https://www.pinterest.de/mytoys/"
          data-wt-name="top.nav:mytoys bei pinterest"
        >
          <span class="nav-main-flyout__accordion-button-label"
            >myToys bei Pinterest</span
          >
        </a>
      </li>

      <li class="nav-main__list-item js-hover footer-teaser-sm__item">
        <a
          class="nav-main__button nav-main__button--direct-link direct-link"
          target="_blank"
          href="http://www.efs-survey.com/uc/mytoys/952b/"
          data-wt-name="top.nav:lob &amp; kritik zu mytoys"
        >
          <span class="nav-main-flyout__accordion-button-label"
            >Lob &amp; Kritik zu myToys</span
          >
        </a>
      </li>

      <li class="nav-main__list-item js-hover footer-teaser-sm__item">
        <a
          class="nav-main__button nav-main__button--direct-link direct-link"
          target="_blank"
          href="http://www.bit.ly/jetzt-kanal-abonnieren"
          data-wt-name="top.nav:mytoys bei youtube"
        >
          <span class="nav-main-flyout__accordion-button-label"
            >myToys bei YouTube</span
          >
        </a>
      </li>
    </ul>

    <div class="footer-banner">
      <h4 class="welcome__headline">3 Shops – 1 Login – 1 Bestellung</h4>

      <a
        class="teaser aspect-ratio w100 tdn"
        href="/mkt/kombishopping"
        data-ratio="1064:90"
        data-wt-teaser='{"520":"mytoys_rtf.welcome.teaser","521":"footer_pointer_3_logos"}'
      >
        <img
          class="is-lazyloaded"
          data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/footer_pointer_3_logos?$rtf_mt_footer-banner-large$"
          alt="KombiShopping"
          title=""
          src="https://mytoysgroup.scene7.com/is/image/myToysGroup/footer_pointer_3_logos?$rtf_mt_footer-banner-large$"
        />
      </a>
    </div>

    <ul class="nav-footer__lvl-1">
      <li class="nav-footer__lvl-1-item" id="nav-footer-lvl-1__service">
        <a
          href="#nav-footer-lvl-1__service"
          name="nav-footer-lvl-1__service"
          class="button--accordion"
        >
          Hilfe &amp; Service
        </a>

        <ul class="nav-footer__lvl-2">
          <li class="nav-footer__lvl-2-item">
            <span
              data-base64="aHR0cHM6Ly9jaGVja291dC5teXRveXMuZGUvY2hlY2tvdXQvc2VydmljZU92ZXJ2aWV3"
              class="nav-footer__lvl-2-item-link js-base64"
            >
              Mein Konto
            </span>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/faq/de" class="nav-footer__lvl-2-item-link">
              Häufige Fragen (FAQ)
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/c/kontakt.html" class="nav-footer__lvl-2-item-link">
              Kundenservice
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <span
              data-base64="L2MvZ2VzY2hlbmtndXRzY2hlaW5lLmh0bWw="
              class="nav-footer__lvl-2-item-link js-base64"
            >
              Geschenkgutscheine
            </span>
          </li>
          <li class="nav-footer__lvl-2-item">
            <span
              data-base64="L2MvZW50c29yZ3VuZ3NoaW53ZWlzZS5odG1s"
              class="nav-footer__lvl-2-item-link js-base64"
            >
              Entsorgungshinweise
            </span>
          </li>
          <li class="nav-footer__lvl-2-item">
            <span
              data-base64="aHR0cDovL3d3dy5lZnMtc3VydmV5LmNvbS91Yy9teXRveXMvOTUyYi8="
              class="nav-footer__lvl-2-item-link js-base64"
              data-rel="blank"
            >
              Lob &amp; Kritik
            </span>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/c/mytoys-app.html" class="nav-footer__lvl-2-item-link">
              unsere App
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-footer__lvl-1-item" id="nav-footer-lvl-1__account">
        <a
          href="#nav-footer-lvl-1__account"
          name="nav-footer-lvl-1__account"
          class="button--accordion"
        >
          myToys
        </a>

        <ul class="nav-footer__lvl-2">
          <li class="nav-footer__lvl-2-item">
            <span
              data-base64="L2MvZGFzLXNpbmQtd2lyLmh0bWw="
              class="nav-footer__lvl-2-item-link js-base64"
            >
              Über uns
            </span>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/c/filialen.html" class="nav-footer__lvl-2-item-link">
              Filialen
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <span
              data-base64="L2MvbmFjaGhhbHRpZ2tlaXQuaHRtbA=="
              class="nav-footer__lvl-2-item-link js-base64"
            >
              Nachhaltigkeit
            </span>
          </li>
          <li class="nav-footer__lvl-2-item">
            <span
              data-base64="L2MvcGxhdHpzY2hhZmZlbi5odG1s"
              class="nav-footer__lvl-2-item-link js-base64"
            >
              Gutes tun: Kleidung spenden
            </span>
          </li>
          <li class="nav-footer__lvl-2-item">
            <span
              data-base64="L2MvaWhyZXZvcnRlaWxlLmh0bWw="
              class="nav-footer__lvl-2-item-link js-base64"
            >
              Ihre Vorteile
            </span>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/c/pressekontakt.html" class="nav-footer__lvl-2-item-link">
              Presse
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <span
              data-base64="aHR0cHM6Ly9teXRveXNncm91cC5qb2JzLw=="
              class="nav-footer__lvl-2-item-link js-base64"
              data-rel="blank"
            >
              Jobs
            </span>
          </li>
          <li class="nav-footer__lvl-2-item">
            <span
              data-base64="L2MvZ2VzY2hhZWZ0c3BhcnRuZXIuaHRtbA=="
              class="nav-footer__lvl-2-item-link js-base64"
            >
              Geschäftspartner
            </span>
          </li>
        </ul>
      </li>

      <li class="nav-footer__lvl-1-item" id="nav-footer-lvl-1__inspiration">
        <a
          href="#nav-footer-lvl-1__inspiration"
          name="nav-footer-lvl-1__inspiration"
          class="button--accordion"
        >
          Lieferbedingungen
        </a>

        <ul class="nav-footer__lvl-2">
          <li class="nav-footer__lvl-2-item">
            <span
              data-base64="L2ZhcS9kZS9jYXRlZ29yeS92ZXJzYW5kLWxpZWZlcnVuZy9saWVmZXJiZWRpbmd1bmdlbi1kZXV0c2NobGFuZA=="
              class="nav-footer__lvl-2-item-link js-base64"
            >
              Deutschland
            </span>
          </li>
          <li class="nav-footer__lvl-2-item">
            <span
              data-base64="L2ZhcS9kZS9jYXRlZ29yeS92ZXJzYW5kLWxpZWZlcnVuZy9saWVmZXJiZWRpbmd1bmdlbi1vZXN0ZXJyZWljaA=="
              class="nav-footer__lvl-2-item-link js-base64"
            >
              Österreich
            </span>
          </li>
          <li class="nav-footer__lvl-2-item">
            <span
              data-base64="L2ZhcS9kZS9jYXRlZ29yeS92ZXJzYW5kLWxpZWZlcnVuZy9saWVmZXJiZWRpbmd1bmdlbi1zY2h3ZWl6"
              class="nav-footer__lvl-2-item-link js-base64"
            >
              Schweiz
            </span>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/faq/de/category/versand-durch-direktlieferant/was-ist-ein-partnerartikel"
              class="nav-footer__lvl-2-item-link"
            >
              Partnerprogramm
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/faq/de/category/versand-durch-direktlieferant/was-bedeutet-versand-durch-direktlieferant"
              class="nav-footer__lvl-2-item-link"
            >
              Versand durch Direktlieferant
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/faq/de/category/r%C3%BCckgabe-r%C3%BCckerstattung/rueckgabe-rueckerstattung"
              class="nav-footer__lvl-2-item-link"
            >
              Rückgabe &amp; Rückerstattung
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-footer__lvl-1-item" id="nav-footer-lvl-1__payment">
        <a
          href="#nav-footer-lvl-1__payment"
          name="nav-footer-lvl-1__payment"
          class="button--accordion"
        >
          Zahlungsarten
        </a>

        <ul class="nav-footer__lvl-2">
          <li class="nav-footer__lvl-2-images">
            <span
              class="payment-logo js-base64"
              data-base64="L2ZhcS9kZS9jYXRlZ29yeS96YWhsdW5nL2thbm4taWNoLWF1Zi1yZWNobnVuZy1iZXN0ZWxsZW4= }}"
            >
              <img
                class="is-lazyloaded"
                data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/rechnunglogo"
                alt="Rechnung"
                src="https://mytoysgroup.scene7.com/is/image/myToysGroup/rechnunglogo"
              />
            </span>
            <span
              class="payment-logo js-base64"
              data-base64="L2ZhcS9kZS9jYXRlZ29yeS96YWhsdW5nL2thbm4taWNoLXBlci1sYXN0c2NocmlmdC1iZXN0ZWxsZW4= }}"
            >
              <img
                class="ls-is-cached is-lazyloaded"
                data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/lastschriftlogo"
                alt="Lastschrift"
                src="https://mytoysgroup.scene7.com/is/image/myToysGroup/lastschriftlogo"
              />
            </span>
            <a
              class="payment-logo"
              href="/faq/de/category/zahlung/kann-ich-mit-der-zahlungsart-paypal-bestellen"
            >
              <img
                class="ls-is-cached is-lazyloaded"
                data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/paypal-logo"
                alt="Paypal"
                src="https://mytoysgroup.scene7.com/is/image/myToysGroup/paypal-logo"
              />
            </a>
            <a
              class="payment-logo"
              href="/faq/de/category/zahlung/kann-ich-mit-der-zahlungsart-sofortueberweisung-bestellen"
            >
              <img
                class="ls-is-cached is-lazyloaded"
                data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/sofort-logo"
                alt="Sofortüberweisung"
                src="https://mytoysgroup.scene7.com/is/image/myToysGroup/sofort-logo"
              />
            </a>
            <a
              class="payment-logo"
              href="/faq/de/category/zahlung/kann-ich-mit-der-zahlungsart-kreditkarte-bestellen"
            >
              <img
                class="ls-is-cached is-lazyloaded"
                data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/visalogo?$"
                alt="Visa"
                src="https://mytoysgroup.scene7.com/is/image/myToysGroup/visalogo?$"
              />
            </a>
            <a
              class="payment-logo"
              href="/faq/de/category/zahlung/kann-ich-mit-der-zahlungsart-kreditkarte-bestellen"
            >
              <img
                class="ls-is-cached is-lazyloaded"
                data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/mastercard-logo"
                alt="MasterCard"
                src="https://mytoysgroup.scene7.com/is/image/myToysGroup/mastercard-logo"
              />
            </a>
            <a
              class="payment-logo"
              href="/faq/de/category/zahlung/kann-ich-mit-der-zahlungsart-kreditkarte-bestellen"
            >
              <img
                class="is-lazyloaded"
                data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/amex-logo"
                alt="American Express"
                src="https://mytoysgroup.scene7.com/is/image/myToysGroup/amex-logo"
              />
            </a>
            <a
              class="payment-logo"
              href="/faq/de/category/zahlung/kann-ich-mit-der-zahlungsart-kreditkarte-bestellen"
            >
              <img
                class="is-lazyloaded"
                data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/diners-logo"
                alt="Diners Club International"
                src="https://mytoysgroup.scene7.com/is/image/myToysGroup/diners-logo"
              />
            </a>
            <a
              class="payment-logo"
              href="/faq/de/category/zahlung/kann-ich-mit-der-zahlungsart-paydirekt-bestellen"
            >
              <img
                class="ls-is-cached is-lazyloaded"
                data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/paydirekt-logo"
                alt="Paydirekt"
                src="https://mytoysgroup.scene7.com/is/image/myToysGroup/paydirekt-logo"
              />
            </a>
            <a class="payment-logo" href="/faq/de/category/zahlung">
              <img
                class="ls-is-cached is-lazyloaded"
                data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/discover-logo"
                alt="Discover"
                src="https://mytoysgroup.scene7.com/is/image/myToysGroup/discover-logo"
              />
            </a>
          </li>

          <li class="nav-footer__lvl-2-item">
            <small><sup>1</sup>Bonität vorausgesetzt</small>
          </li>
        </ul>
      </li>
    </ul>

    <div class="footer__branches-seals-and-awards-container">
      <section class="footer__branches">
        <h4 class="footer__branches__headline">Unsere Filialen</h4>
        <div class="branches">
          <p class="branches__info">
            Hier erhalten Sie kompetente Beratung sowie eine große Auswahl zu
            niedrigen Preisen.
          </p>

          <div class="branches__list">
            <select name="js-branches">
              <option value="#" selected="selected">Filiale wählen</option>

              <option value="/c/filiale-aachen.html">Aachen</option>
              <option value="/c/filiale-altenessen.html">Altenessen</option>
              <option value="/c/filiale-neukoelln.html">Berlin-Neukölln</option>
              <option value="/c/filiale-spandau.html">Berlin-Spandau</option>
              <option value="/c/filiale-hamburg.html">Hamburg</option>
              <option value="/c/filiale-kassel.html">Kassel</option>
              <option value="/c/filiale-koeln-chorweiler.html">
                Köln-Chorweiler
              </option>
              <option value="/c/filiale-koeln-weiden.html">Köln-Weiden</option>
              <option value="/c/filiale-leer.html">Leer</option>
              <option value="/c/filiale-luebeck.html">Lübeck</option>
              <option value="/c/filiale-luedenscheid.html">Lüdenscheid</option>
              <option value="/c/filiale-neuss.html">Neuss</option>
              <option value="/c/filiale-nuernberg.html">Nürnberg</option>
              <option value="/c/filiale-siegen.html">Siegen</option>
              <option value="/c/filiale-stuttgart.html">Stuttgart</option>
              <option value="/c/filiale-wildau.html">Wildau</option>
              <option value="/c/filiale-worms.html">Worms</option>
            </select>
          </div>
        </div>
      </section>

      <section class="footer__security-seals">
        <h4 class="footer__security-seals-headline">Sicher einkaufen</h4>
        <div class="security-seal-grid">
          <div class="security-seal-grid__item">
            <div
              id="trusted-shops-badge"
              style="height: 74px; text-align: center; font-size: 0px"
            >
              <div
                id="trustbadge-custom-desktop-container-98e3dadd90eb493088abdc5597a70810"
                style="position: relative; display: inline-block"
              >
                <div class="_1gwv20v">
                  <div
                    id="minimized-trustbadge-98e3dadd90eb493088abdc5597a70810"
                    class="_ctfoyi"
                  >
                    <div class="_thsmae">
                      <div class="_1qiwh36">
                        <img
                          class="_6ijdjk"
                          src="https://widgets.trustedshops.com/assets/images/trustmark_120x120.png"
                          alt="Trustmark"
                        />
                      </div>
                      <div class="_42dt87">
                        <div
                          id="ratingStarsContainer-98e3dadd90eb493088abdc5597a70810"
                          class="_f29a6p"
                        >
                          <div class="_19iijde">
                            <div class="_1o34o55">
                              <svg
                                height="11.384615384615383"
                                width="12.096153846153845"
                                viewBox="0 0 34 32"
                                version="1.1"
                                fill="lightgray"
                                style="
                                  display: inline;
                                  overflow: auto;
                                  background: none;
                                  padding: 0px;
                                  float: none;
                                  line-height: inherit;
                                  height: auto;
                                  margin-bottom: inherit;
                                  fill: lightgray;
                                  width: auto;
                                  vertical-align: top;
                                "
                              >
                                <g id="⭐️-Brand-Elements">
                                  <polygon
                                    id="⭐️-Star-State"
                                    fill="lightgray"
                                    points="16.9973404 0 12.9840426 12.2184211 0 12.2236842 10.5053191 19.7763158 6.49734043 32 16.9973404 24.4473684 27.5053191 32 23.4946809 19.7763158 34 12.2236842 21.0159574 12.2184211"
                                  ></polygon>
                                </g>
                              </svg>
                            </div>
                            <div class="_1o34o55">
                              <svg
                                height="11.384615384615383"
                                width="12.096153846153845"
                                viewBox="0 0 34 32"
                                version="1.1"
                                fill="lightgray"
                                style="
                                  display: inline;
                                  overflow: auto;
                                  background: none;
                                  padding: 0px;
                                  float: none;
                                  line-height: inherit;
                                  height: auto;
                                  margin-bottom: inherit;
                                  fill: lightgray;
                                  width: auto;
                                  vertical-align: top;
                                "
                              >
                                <g id="⭐️-Brand-Elements">
                                  <polygon
                                    id="⭐️-Star-State"
                                    fill="lightgray"
                                    points="16.9973404 0 12.9840426 12.2184211 0 12.2236842 10.5053191 19.7763158 6.49734043 32 16.9973404 24.4473684 27.5053191 32 23.4946809 19.7763158 34 12.2236842 21.0159574 12.2184211"
                                  ></polygon>
                                </g>
                              </svg>
                            </div>
                            <div class="_1o34o55">
                              <svg
                                height="11.384615384615383"
                                width="12.096153846153845"
                                viewBox="0 0 34 32"
                                version="1.1"
                                fill="lightgray"
                                style="
                                  display: inline;
                                  overflow: auto;
                                  background: none;
                                  padding: 0px;
                                  float: none;
                                  line-height: inherit;
                                  height: auto;
                                  margin-bottom: inherit;
                                  fill: lightgray;
                                  width: auto;
                                  vertical-align: top;
                                "
                              >
                                <g id="⭐️-Brand-Elements">
                                  <polygon
                                    id="⭐️-Star-State"
                                    fill="lightgray"
                                    points="16.9973404 0 12.9840426 12.2184211 0 12.2236842 10.5053191 19.7763158 6.49734043 32 16.9973404 24.4473684 27.5053191 32 23.4946809 19.7763158 34 12.2236842 21.0159574 12.2184211"
                                  ></polygon>
                                </g>
                              </svg>
                            </div>
                            <div class="_1o34o55">
                              <svg
                                height="11.384615384615383"
                                width="12.096153846153845"
                                viewBox="0 0 34 32"
                                version="1.1"
                                fill="lightgray"
                                style="
                                  display: inline;
                                  overflow: auto;
                                  background: none;
                                  padding: 0px;
                                  float: none;
                                  line-height: inherit;
                                  height: auto;
                                  margin-bottom: inherit;
                                  fill: lightgray;
                                  width: auto;
                                  vertical-align: top;
                                "
                              >
                                <g id="⭐️-Brand-Elements">
                                  <polygon
                                    id="⭐️-Star-State"
                                    fill="lightgray"
                                    points="16.9973404 0 12.9840426 12.2184211 0 12.2236842 10.5053191 19.7763158 6.49734043 32 16.9973404 24.4473684 27.5053191 32 23.4946809 19.7763158 34 12.2236842 21.0159574 12.2184211"
                                  ></polygon>
                                </g>
                              </svg>
                            </div>
                            <div class="_16krqhd">
                              <svg
                                height="11.384615384615383"
                                width="12.096153846153845"
                                viewBox="0 0 34 32"
                                version="1.1"
                                fill="lightgray"
                                style="
                                  display: inline;
                                  overflow: auto;
                                  background: none;
                                  padding: 0px;
                                  float: none;
                                  line-height: inherit;
                                  height: auto;
                                  margin-bottom: inherit;
                                  fill: lightgray;
                                  width: auto;
                                  vertical-align: top;
                                "
                              >
                                <g id="⭐️-Brand-Elements">
                                  <polygon
                                    id="⭐️-Star-State"
                                    fill="lightgray"
                                    points="16.9973404 0 12.9840426 12.2184211 0 12.2236842 10.5053191 19.7763158 6.49734043 32 16.9973404 24.4473684 27.5053191 32 23.4946809 19.7763158 34 12.2236842 21.0159574 12.2184211"
                                  ></polygon>
                                </g>
                              </svg>
                            </div>
                          </div>
                          <div class="_16sl00v">
                            <div class="_ih3lbt">
                              <svg
                                height="11.384615384615383"
                                width="12.096153846153845"
                                viewBox="0 0 34 32"
                                version="1.1"
                                fill="#FFDC0F"
                                style="
                                  display: inline;
                                  overflow: auto;
                                  background: none;
                                  padding: 0px;
                                  float: none;
                                  line-height: inherit;
                                  height: auto;
                                  margin-bottom: inherit;
                                  fill: rgb(255, 220, 15);
                                  width: auto;
                                  vertical-align: top;
                                "
                              >
                                <g id="⭐️-Brand-Elements">
                                  <polygon
                                    id="⭐️-Star-State"
                                    fill="#FFDC0F"
                                    points="16.9973404 0 12.9840426 12.2184211 0 12.2236842 10.5053191 19.7763158 6.49734043 32 16.9973404 24.4473684 27.5053191 32 23.4946809 19.7763158 34 12.2236842 21.0159574 12.2184211"
                                  ></polygon>
                                </g>
                              </svg>
                            </div>
                            <div class="_ih3lbt">
                              <svg
                                height="11.384615384615383"
                                width="12.096153846153845"
                                viewBox="0 0 34 32"
                                version="1.1"
                                fill="#FFDC0F"
                                style="
                                  display: inline;
                                  overflow: auto;
                                  background: none;
                                  padding: 0px;
                                  float: none;
                                  line-height: inherit;
                                  height: auto;
                                  margin-bottom: inherit;
                                  fill: rgb(255, 220, 15);
                                  width: auto;
                                  vertical-align: top;
                                "
                              >
                                <g id="⭐️-Brand-Elements">
                                  <polygon
                                    id="⭐️-Star-State"
                                    fill="#FFDC0F"
                                    points="16.9973404 0 12.9840426 12.2184211 0 12.2236842 10.5053191 19.7763158 6.49734043 32 16.9973404 24.4473684 27.5053191 32 23.4946809 19.7763158 34 12.2236842 21.0159574 12.2184211"
                                  ></polygon>
                                </g>
                              </svg>
                            </div>
                            <div class="_ih3lbt">
                              <svg
                                height="11.384615384615383"
                                width="12.096153846153845"
                                viewBox="0 0 34 32"
                                version="1.1"
                                fill="#FFDC0F"
                                style="
                                  display: inline;
                                  overflow: auto;
                                  background: none;
                                  padding: 0px;
                                  float: none;
                                  line-height: inherit;
                                  height: auto;
                                  margin-bottom: inherit;
                                  fill: rgb(255, 220, 15);
                                  width: auto;
                                  vertical-align: top;
                                "
                              >
                                <g id="⭐️-Brand-Elements">
                                  <polygon
                                    id="⭐️-Star-State"
                                    fill="#FFDC0F"
                                    points="16.9973404 0 12.9840426 12.2184211 0 12.2236842 10.5053191 19.7763158 6.49734043 32 16.9973404 24.4473684 27.5053191 32 23.4946809 19.7763158 34 12.2236842 21.0159574 12.2184211"
                                  ></polygon>
                                </g>
                              </svg>
                            </div>
                            <div class="_ih3lbt">
                              <svg
                                height="11.384615384615383"
                                width="12.096153846153845"
                                viewBox="0 0 34 32"
                                version="1.1"
                                fill="#FFDC0F"
                                style="
                                  display: inline;
                                  overflow: auto;
                                  background: none;
                                  padding: 0px;
                                  float: none;
                                  line-height: inherit;
                                  height: auto;
                                  margin-bottom: inherit;
                                  fill: rgb(255, 220, 15);
                                  width: auto;
                                  vertical-align: top;
                                "
                              >
                                <g id="⭐️-Brand-Elements">
                                  <polygon
                                    id="⭐️-Star-State"
                                    fill="#FFDC0F"
                                    points="16.9973404 0 12.9840426 12.2184211 0 12.2236842 10.5053191 19.7763158 6.49734043 32 16.9973404 24.4473684 27.5053191 32 23.4946809 19.7763158 34 12.2236842 21.0159574 12.2184211"
                                  ></polygon>
                                </g>
                              </svg>
                            </div>
                            <div class="_15e4gcx">
                              <svg
                                height="11.384615384615383"
                                width="12.096153846153845"
                                viewBox="0 0 34 32"
                                version="1.1"
                                fill="#FFDC0F"
                                style="
                                  display: inline;
                                  overflow: auto;
                                  background: none;
                                  padding: 0px;
                                  float: none;
                                  line-height: inherit;
                                  height: auto;
                                  margin-bottom: inherit;
                                  fill: rgb(255, 220, 15);
                                  width: auto;
                                  vertical-align: top;
                                "
                              >
                                <g id="⭐️-Brand-Elements">
                                  <polygon
                                    id="⭐️-Star-State"
                                    fill="#FFDC0F"
                                    points="16.9973404 0 12.9840426 12.2184211 0 12.2236842 10.5053191 19.7763158 6.49734043 32 16.9973404 24.4473684 27.5053191 32 23.4946809 19.7763158 34 12.2236842 21.0159574 12.2184211"
                                  ></polygon>
                                </g>
                              </svg>
                            </div>
                          </div>
                        </div>
                        <p class="_1m1tgjg">Sehr gut</p>
                        <p class="_2wjeqi">
                          <span class="_1geiv5n">4.72</span>/5.00
                        </p>
                      </div>
                    </div>
                    <p
                      id="trustbadge-minimized-menu-button-98e3dadd90eb493088abdc5597a70810"
                      class="_1iu1jow"
                    >
                      <span class="_1jbkkgd">...</span>
                    </p>
                    <div class="_zbxp0s"></div>
                    <p class="_1l375q9">Käuferschutz inklusive</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="security-seal-grid__item">
            <div
              class="security-seal js-base64"
              data-base64="L2MvZGF0ZW5zY2h1dHouaHRtbA=="
              data-rel="blank"
            >
              <img
                class="is-lazyloaded"
                data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/footer_sicherheitssiegel?$rtf_mt_footer-seal_xl$"
                alt="Sicher einkaufen"
                src="https://mytoysgroup.scene7.com/is/image/myToysGroup/footer_sicherheitssiegel?$rtf_mt_footer-seal_xl$"
              />
            </div>
          </div>
          <div class="security-seal-grid__item">
            <div
              class="security-seal js-base64"
              data-base64="L2MvcHJvZHVrdHJ1ZWNrcnVmLmh0bWw="
              data-rel="blank"
            >
              <img
                class="ls-is-cached is-lazyloaded"
                data-src="https://mytoysgroup.scene7.com/is/image/myToysGroup/mt_label_rueckruf_footer_2017-10?$rtf_mt_footer-seal_xl$"
                alt="Rückrufe - Wichtige Kundeninformationen"
                src="https://mytoysgroup.scene7.com/is/image/myToysGroup/mt_label_rueckruf_footer_2017-10?$rtf_mt_footer-seal_xl$"
              />
            </div>
          </div>
        </div>
      </section>

      <section class="footer__shop-awards">
        <h4 class="footer__shop-awards-headline">.</h4>
        <div class="security-seal-grid"></div>
      </section>
    </div>

    <ul class="nav-footer__lvl-1">
      <li
        class="nav-footer__lvl-1-item custom-footer"
        id="custom-footer-lvl-1__section-1"
      >
        <a
          href="#custom-footer-lvl-1__section-1"
          name="custom-footer-lvl-1__section-1"
          class="button--accordion"
        >
          Spielzeug Marken
        </a>

        <ul class="nav-footer__lvl-2">
          <li class="nav-footer__lvl-2-item">
            <a href="/barbie/" class="nav-footer__lvl-2-item-link"> Barbie </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/hasbro/" class="nav-footer__lvl-2-item-link"> Hasbro </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/carrera/" class="nav-footer__lvl-2-item-link">
              Carrera
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/fisher-price/" class="nav-footer__lvl-2-item-link">
              Fisher Price
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/haba/" class="nav-footer__lvl-2-item-link"> HABA </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/lego-sub/" class="nav-footer__lvl-2-item-link">
              LEGO ®
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/spielzeug-spiele/playmobil-sub/"
              class="nav-footer__lvl-2-item-link"
            >
              Playmobil ®
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/schleich/" class="nav-footer__lvl-2-item-link">
              Schleich
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/baby-born/" class="nav-footer__lvl-2-item-link">
              Baby Born
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/vtech/" class="nav-footer__lvl-2-item-link"> Vtech </a>
          </li>
        </ul>
      </li>
      <li
        class="nav-footer__lvl-1-item custom-footer"
        id="custom-footer-lvl-1__section-2"
      >
        <a
          href="#custom-footer-lvl-1__section-2"
          name="custom-footer-lvl-1__section-2"
          class="button--accordion"
        >
          Kindermode Marken
        </a>

        <ul class="nav-footer__lvl-2">
          <li class="nav-footer__lvl-2-item">
            <a href="/adidas-performance/" class="nav-footer__lvl-2-item-link">
              adidas Performance
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/converse/" class="nav-footer__lvl-2-item-link">
              CONVERSE
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/jack-wolfskin/" class="nav-footer__lvl-2-item-link">
              Jack Wolfskin
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/bench/" class="nav-footer__lvl-2-item-link">
              BENCH Kindermode
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/name-it/" class="nav-footer__lvl-2-item-link">
              name it
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/naturino/" class="nav-footer__lvl-2-item-link">
              Naturino Kinderschuhe
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/geox/" class="nav-footer__lvl-2-item-link">
              GEOX Kinderschuhe
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/ricosta/" class="nav-footer__lvl-2-item-link">
              Ricosta Kinderschuhe
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/killtec/" class="nav-footer__lvl-2-item-link">
              Killtec Kindermode
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/superfit/" class="nav-footer__lvl-2-item-link">
              superfit Kinderschuhe
            </a>
          </li>
        </ul>
      </li>
      <li
        class="nav-footer__lvl-1-item custom-footer"
        id="custom-footer-lvl-1__section-3"
      >
        <a
          href="#custom-footer-lvl-1__section-3"
          name="custom-footer-lvl-1__section-3"
          class="button--accordion"
        >
          Baby Marken
        </a>

        <ul class="nav-footer__lvl-2">
          <li class="nav-footer__lvl-2-item">
            <a href="/abc-design/" class="nav-footer__lvl-2-item-link">
              ABC Design
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/alvi/" class="nav-footer__lvl-2-item-link"> Alvi </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/philips-avent/" class="nav-footer__lvl-2-item-link">
              Avent
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/joie/" class="nav-footer__lvl-2-item-link"> Joie </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/britax-roemer/" class="nav-footer__lvl-2-item-link">
              Britax Römer
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/cybex/" class="nav-footer__lvl-2-item-link"> Cybex </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/hauck/" class="nav-footer__lvl-2-item-link"> hauck </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/maxi-cosi/" class="nav-footer__lvl-2-item-link">
              Maxi Cosi
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/quinny/" class="nav-footer__lvl-2-item-link"> Quinny </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/sigikid/" class="nav-footer__lvl-2-item-link">
              SIGIKID
            </a>
          </li>
        </ul>
      </li>
      <li
        class="nav-footer__lvl-1-item custom-footer"
        id="custom-footer-lvl-1__section-4"
      >
        <a
          href="#custom-footer-lvl-1__section-4"
          name="custom-footer-lvl-1__section-4"
          class="button--accordion"
        >
          Top Lieblingsstars
        </a>

        <ul class="nav-footer__lvl-2">
          <li class="nav-footer__lvl-2-item">
            <a href="/bob-der-baumeister/" class="nav-footer__lvl-2-item-link">
              Bob der Baumeister
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/miraculous/" class="nav-footer__lvl-2-item-link">
              Miraculous
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/pj-masks/" class="nav-footer__lvl-2-item-link">
              PJ Masks
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/l-o-l/" class="nav-footer__lvl-2-item-link">
              LOL Surprise
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/disney-die-eiskoenigin/"
              class="nav-footer__lvl-2-item-link"
            >
              Disney Die Eiskönigin
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/spirit/" class="nav-footer__lvl-2-item-link">
              Spirit - Der wilde Mustang
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/bibi-und-tina/" class="nav-footer__lvl-2-item-link">
              Bibi und Tina
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/beyblade/" class="nav-footer__lvl-2-item-link">
              Beyblade
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/star-wars/" class="nav-footer__lvl-2-item-link">
              Star Wars
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/disney-winnie-puuh/" class="nav-footer__lvl-2-item-link">
              Disney Winnie Puuh
            </a>
          </li>
        </ul>
      </li>
      <li
        class="nav-footer__lvl-1-item custom-footer"
        id="custom-footer-lvl-1__section-5"
      >
        <a
          href="#custom-footer-lvl-1__section-5"
          name="custom-footer-lvl-1__section-5"
          class="button--accordion"
        >
          Top Kategorien
        </a>

        <ul class="nav-footer__lvl-2">
          <li class="nav-footer__lvl-2-item">
            <a
              href="/baby-schwangerschaft/kindersitze-babyschalen/babyschalen/"
              class="nav-footer__lvl-2-item-link"
            >
              Babyschale
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/baby-schwangerschaft/kindersitze-babyschalen/"
              class="nav-footer__lvl-2-item-link"
            >
              Kindersitz
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/mode-schuhe/jacken-maentel/"
              class="nav-footer__lvl-2-item-link"
            >
              Kinderjacken
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/sport-garten/fahrraeder-zubehoer/fahrraeder/"
              class="nav-footer__lvl-2-item-link"
            >
              Kinderfahrrad
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/baby-schwangerschaft/babymode-schuhe/"
              class="nav-footer__lvl-2-item-link"
            >
              Babykleidung
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/baby-schwangerschaft/babymoebel/hochstuehle/"
              class="nav-footer__lvl-2-item-link"
            >
              Hochstuhl
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/spielzeug-spiele/autos-fahrzeuge-flieger/ferngesteuerte-autos/"
              class="nav-footer__lvl-2-item-link"
            >
              Ferngesteuerte Autos
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/baby-schwangerschaft/kinderwagen-zubehoer/"
              class="nav-footer__lvl-2-item-link"
            >
              Kinderwagen
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/spielzeug-spiele/autos-fahrzeuge-flieger/autorennbahn/"
              class="nav-footer__lvl-2-item-link"
            >
              Autorennbahn
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/spielzeug-spiele/holz/"
              class="nav-footer__lvl-2-item-link"
            >
              Holzspielzeug
            </a>
          </li>
        </ul>
      </li>
      <li
        class="nav-footer__lvl-1-item custom-footer"
        id="custom-footer-lvl-1__section-6"
      >
        <a
          href="#custom-footer-lvl-1__section-6"
          name="custom-footer-lvl-1__section-6"
          class="button--accordion"
        >
          Top Suchbegriffe
        </a>

        <ul class="nav-footer__lvl-2">
          <li class="nav-footer__lvl-2-item">
            <a
              href="/mode-schuhe/schuhe/stiefel/"
              class="nav-footer__lvl-2-item-link"
            >
              Kinderstiefel
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/spielzeug-spiele/puzzle/"
              class="nav-footer__lvl-2-item-link"
            >
              Puzzle
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/sport-garten/kinderfahrzeuge/laufraeder/"
              class="nav-footer__lvl-2-item-link"
            >
              Laufrad
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/lego-super-mario/lego-sub/"
              class="nav-footer__lvl-2-item-link"
            >
              LEGO ® Super Mario ™
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/kinderzimmer-wohnen/betten-zubehoer/"
              class="nav-footer__lvl-2-item-link"
            >
              Kinderbett
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/baby-schwangerschaft/kinderwagen-zubehoer/buggys/"
              class="nav-footer__lvl-2-item-link"
            >
              Buggys
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/lego-star-wars/lego-sub/"
              class="nav-footer__lvl-2-item-link"
            >
              LEGO ® Star Wars ™
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/mode-schuhe/schuhe/sandalen/"
              class="nav-footer__lvl-2-item-link"
            >
              Kindersandalen
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a
              href="/sport-garten/gartenspielgeraete-cat2/schaukeln/"
              class="nav-footer__lvl-2-item-link"
            >
              Schaukel
            </a>
          </li>
          <li class="nav-footer__lvl-2-item">
            <a href="/ostern/" class="nav-footer__lvl-2-item-link">
              Ostergeschenke
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="footer__legal-links">
      <li><a href="/c/datenschutz.html" class="legal-link">Datenschutz</a></li>
      <li><a href="/c/agb.html" class="legal-link">AGB</a></li>
      <li><a href="/c/impressum.html" class="legal-link">Impressum</a></li>
    </ul>

    <p class="footer__logout js-footer-logout is-hidden">
      <span
        class="logout js-base64"
        data-base64="aHR0cHM6Ly9jaGVja291dC5teXRveXMuZGUvY2hlY2tvdXQvbG9nb3V0"
        >Abmelden</span
      >
    </p>

    <div class="footer-partner">
      <div class="footer-partner__header">Empfehlungen &amp; Service:</div>
      <ul class="footer-partner__list">
        <li class="footer-partner__item">
          <a
            class="footer-partner__link"
            href="https://www.mirapodo.de/"
            target="_blank"
            >mirapodo.de</a
          >
        </li>
        <li class="footer-partner__item">
          <a
            class="footer-partner__link"
            href="https://www.yomonda.de/"
            target="_blank"
            >yomonda.de</a
          >
        </li>
        <li class="footer-partner__item">
          <span
            class="footer-partner__link js-base64"
            data-base64="aHR0cHM6Ly93d3cubXl0b3lzLnJ1"
            data-rel="blank"
            >myToys.ru</span
          >
        </li>
        <li class="footer-partner__item">
          <span
            class="footer-partner__link js-base64"
            data-base64="aHR0cHM6Ly93d3cubXl0b3lzLmNvbQ=="
            data-rel="blank"
            >myToys.com</span
          >
        </li>
        <li class="footer-partner__item">
          <span
            class="footer-partner__link js-base64"
            data-base64="aHR0cHM6Ly93d3cubGltYW5nby5kZQ=="
            data-rel="blank"
            >Limango</span
          >
        </li>
        <li class="footer-partner__item">
          <span
            class="footer-partner__link js-base64"
            data-base64="L2Mva29udGFrdC5odG1s"
            data-rel="blank"
            >Kontakt</span
          >
        </li>
      </ul>
    </div>

    <p class="footer__legal-note">
      <small class="legal-note"
        >*Preisangaben inkl. gesetzl. MwSt. und zzgl. Service- &amp;
        Versandkosten</small
      >
      <small class="legal-note"
        >Copyright © 2021 myToys.de GmbH - Alle Rechte vorbehalten</small
      >
    </p>
  </div>
</template>

<script>
export default {
  name: "Footer",
};
</script>
