<template>
  <div class="header-multishop__layout cf db mha">
    <div class="header-multishop__kbs">
      <span class="js-base64" data-base64="L21rdC9rb21iaXNob3BwaW5n">
        <span class="header-multishop__kbs-logo"></span>
        <span class="header-multishop__kbs-claim"
          >3 Shops - 1 Login – 1 Bestellung</span
        >
      </span>
    </div>

    <div class="header-multishop__tabs">
      <span class="header-multishop__tab-mytoys is-active">
        <span class="header-multishop__logo-mytoys"></span>
        <span class="is-visually-hidden">myToys</span>
      </span>
      <span
        data-base64="L29wdC9zd2l0Y2gvbWlyYXBvZG8="
        data-rel="blank"
        class="header-multishop__tab-mirapodo js-base64"
        data-wt-name="mytoys.top.nav:mirapodo"
      >
        <span class="header-multishop__logo-mirapodo"></span>
        <span class="is-visually-hidden">mirapodo</span>
      </span>
      <span
        data-base64="L29wdC9zd2l0Y2gveW9tb25kYQ=="
        data-rel="blank"
        class="header-multishop__tab-yomonda js-base64"
        data-wt-name="mytoys.top.nav:yomonda"
      >
        <span class="header-multishop__logo-yomonda"></span>
        <span class="is-visually-hidden">yomonda</span>
      </span>
    </div>

    <div class="header-multishop__teaser">
      <div class="teaser-header">
        <div class="teaser-header__wrapper">
          <a
            class="teaser aspect-ratio w100 tdn"
            href="/mkt/kombishopping"
            data-ratio="310:62"
            data-wt-teaser='{"520":"mytoys_rtf.welcome.teaser","521":"WordingLogo"}'
          >
            <img
              class="js-nolazyload"
              src="//mytoysgroup.scene7.com/is/image/myToysGroup/WordingLogo?$rtf_mt_teaser-header$"
              alt="KombiShop versandkostenfrei"
              title="KombiShop versandkostenfrei"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
};
</script>

<style></style>
